[Unit]
Description=screen blanking and powerdown timeout on console
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/blank-console.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
