[Unit]
Description=screen blanking and powerdown timeout on console
After=multi-user.target

[Service]
Type=oneshot
ExecStart=setterm --blank 1 --powerdown 0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
